.profile{
    display: block;
}
.description{
    display: flex;
    flex-direction: column;
}
.stats{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.item{
    display: flex;
    flex-direction: column;
}

.label{
    padding: 10px;
}
.quantity{
    padding: 10px;
    text-align: center;
}