.list{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.item{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.name{
    margin: 5px 0 0 10px;
    font-size: 30px;
    text-align: center;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}
